/* full-body shared styles */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* body font styles */

.work-sans-font {
  font-family: "Work Sans", sans-serif;
}

/* general width style */
header > *{
    width: 75% ;
    max-width: 1920px;
    margin:0 auto;
}


/* shared font style */
.font-45px-style{
    font-size: 2.80rem;
    font-weight: bold;
    color: #131313;
}
/* shared paragraph style */
.all-para-style{
    font-size: 1rem;
    color: #727272;
    line-height: 26px;
}
.font-20px-style{
    font-size: 1.25rem;
    font-weight: 500;
    color: #727272;
}
/* shared button style */
.hbtn{
    margin-top: 32px;
}
.btn{
    background-color: #FF900E;
    border-radius: 8px;
    padding: 20px 25px;
    text-decoration: none;
    color: #ffffff;
    font-weight: 600;
    
}

/* main body styles */
header{
    background-color: rgba(255, 144, 14, 0.1);
}

/* navbar */
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 50px;
}
nav ul{
    display: flex;
    list-style-type: none;
    gap: 40px;
}
nav ul li a{
    text-decoration: none;
    color: #424242;
}

/* hero */
.hero{
    text-align: center;
    margin-top: 102px;
}
.hero h1{
    font-size: 4rem;
    font-weight: bold;
    color: #131313;
}
.hero p{
    margin-top: 30px;
}


/* hero-img */
.hero-img{
    margin-top: 50px;
}
.hero-img img{
    width: 100%;
    margin-bottom: 45px;
}

/* our features */
#our-features{
    
}
.feature-body{
    display: flex;
    align-items: center; 
    width: 68% ;
    max-width: 1920px;
    margin:0 auto;
    
}
.team-img{
    display: grid;
    grid-template-columns: repeat(2, 300px);
    grid-template-rows: repeat(2, 300px);
    gap: 24px;
    margin-top: 85px;
}
.team-img img{
    max-width: 100%;
}

.quick-feture-list{
    margin-left: 73px;
    max-width: 537px;
    
}

.quick-feture-list .font-45px-style{
    margin-bottom: 24px;
}










@media screen and (max-width:576px){
    nav, 
    .feature-body{
        flex-direction: column;
    }
    .font-45px-style{
        font-size: 2.6rem;
    }
    nav ul {
    gap: 20px;
    margin-top: 10px;
}
.hero h1 {
    font-size: 3.2rem;
}

/* our quick features */

.team-img{
    grid-template: 1fr/1fr;
}
.quick-feture-list {
    margin-top: 10px;
    margin-left: 10px;
    max-width: 100%;
    text-align: center;
}
}